<h1>Detail for <%= @artist.name %></h1>
<h3>Name: <%= @artist.name %></h3>
<p>Bio: <%= @artist.bio %></p>

<%= link_to "Back to Artists", artists_path %>
<%= link_to "Edit this Artist", edit_artist_path %>
