<h1>Detail for <%= @song.name %></h1>
<h3>Name: <%= @song.name %></h3>
<h3>Artist: <%= link_to @song.artist.name, @song.artist %></h3>
<h3>Genre: <%= link_to @song.genre.name, @song.genre %></h3>

<%= link_to "Back to Songs", songs_path %>
<%= link_to "Edit this Song", edit_song_path %>
